.menu{
    position: absolute;
    
    top: 0;
    left: 0;

    background-color: rgba(0, 75, 0, 0.275);

    height: 100px;
    width: 100%;
}

.textBox{
    height: 100%;
    width: 50%;

    background-color: rgba(240, 255, 255, 0.5);

    border: black solid 2.5px;
}

.textContent{
    position: relative;

    top: 25%;

    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-content: center;

    font-size: x-large;
}